<div>
   <h3 class="mb-3">Mood</h3>
   <div class="grid grid-cols-5 items-start w-fit gap-3">
      <!-- Лучше не использовать методы сервиса напрямую в темплейтах. Я понимаю, так меньше кода и тд.
       Но таким образом нарушается MVC. Компонент является прослойкой между сервисом и темплейтом. Темплейт взаимодействует только с компонентом, а уже внутри него вся логика-->
      @for (emotion of healthService.health().emotions; track emotion) {
         <app-emotion [emotion]="emotion" />
      }
   </div>
</div>
