 <div class="flex flex-col gap-2">
       <p>
          Aim for approximately
          <span [ngStyle]="{ color: '#' + goals['water'].color }"
             >8 glasses of water</span
          >
          per day (8 ounces each, totaling about 2 liters or half a
          gallon).
       </p>
       <p>
          Most adults require
          <span [ngStyle]="{ color: '#' + goals['sleep'].color }"
             >7-9 hours of sleep</span
          >
          per night. Consistency is key, so try to go to bed and wake up at
          the same times each day, even on weekends.
       </p>
       <p>
          Adults should aim for at least
          <span [ngStyle]="{ color: '#' + goals['exercise'].color }"
             >30 minutes of moderate activity</span
          >
          most days.
       </p>
       <p>
          Aiming for at least
          <span [ngStyle]="{ color: '#' + goals['outdoor'].color }"
             >30 minutes of outdoor activity</span
          >
          each day can be beneficial for vitamin D exposure (weather
          permitting), mental health, and overall well-being. Outdoor
          activity can be combined with exercise, such as walking, cycling,
          or playing sports.
       </p>
    </div>